@model Lab4ASP.Models.JunctionTables.LoanHistory

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex flex-column align-items-center mt-5">
    <div class="card">
        <div class="card-body">
            <h1>Create loan book</h1>
            <h4>Loan book</h4>
            <hr />
            <div class="row">
                <div class="col-md">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Users" class="control-label"></label>
                            <select asp-for="FK_UserId" class="form-control" asp-items="ViewBag.FK_UserId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Books" class="control-label"></label>
                            <select asp-for="FK_BookId" class="form-control" asp-items="ViewBag.FK_BookId"></select>
                        </div>
                        <div class="form-group mt-2">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="GetLoggedInUserBook" class="btn btn-secondary">Back to List</a>
                            <hr />
                            <a asp-controller="UserMenu" asp-action="GetLoggedInUserBook" class="btn btn-dark">Back to dashboard</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
