@model Lab4ASP.Models.JunctionTables.LoanHistory

@{
    ViewData["Title"] = "LoanBook";
}

<div class="row justify-content-center">

    <!-- Add the justify-content-center class to center the form -->
    <div class="col-md-4">
        <h1>Loan book</h1>

        <hr />
        <form asp-action="LoanBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Users" class="control-label"></label>
                <select asp-for="FK_UserId" class="form-control" asp-items="ViewBag.FK_UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Books" class="control-label"></label>
                <select asp-for="FK_BookId" class="form-control" asp-items="ViewBag.FK_BookId"></select>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="LoanBook" class="btn btn-primary" />
                <a asp-action="GetLoggedInUserBook" class="btn btn-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
