<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lab4ASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lab4ASP.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @{
                    if (User.IsInRole("SuperAdmin")) //kollar mot Role table om inloggad person har rätt roll för att se länken i menyn.
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="DashBoards" asp-action="GetRandomBook">Lab4ASP Library</a>
                    }
                    else if (User.IsInRole("Basic")) //kollar mot Role table om inloggad person har rätt roll för att se länken i menyn.
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="DashBoards" asp-action="GetRandomBook">Lab4ASP Library</a>
                    }
                    else
                    {
                        <h3 class="text-dark">Lab4ASP Library</h3>
                    }
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @{
                                if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin")) //kollar mot Role table om inloggad person har rätt roll för att se länken i menyn.
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="LoanHistories" asp-action="GetUserBook">Dashboard</a>
                                }
                            }
                            @{
                                if (User.Identity.IsAuthenticated && User.IsInRole("Basic")) //kollar mot Role table om inloggad person har rätt roll för att se länken i menyn.
                                {
                                            <a class="nav-link text-dark" asp-area="" asp-controller="UserMenu" asp-action="GetLoggedInUserBook">My Profile</a>
                                }
                            }

                        </li>
                        <li class="nav-item">
                            @{
                                if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin")) //kollar mot Role table om inloggad person har rätt roll för att se länken i menyn.
                                {
                                    <a class="nav-link text-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#adminMenu" aria-controls="offcanvasExample">Menu</a>
                                }
                            }
                        </li>
                        <li class="nav-item">
                        @{
                            if(User.Identity.IsAuthenticated && User.IsInRole("Basic"))
                            { 
                                <a class="nav-link text-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#userMenu" aria-controls="offcanvasExample">Menu</a> 
                            }
                        }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action=""></a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
  

    @*For canvas menus*@
    <div class="offcanvas offcanvas-start" tabindex="-1" id="userMenu" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">User section</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                Welcome to Lab4 Library.
                <br />
                You are in user section with your options.
            </div>
            <hr />
            <a class="btn btn-primary" asp-controller="UserMenu" asp-action="Create">Loan book</a>
            <a class="btn btn-primary" asp-controller="UserMenu" asp-action="GetLoggedInUserBook">See loaned book(s)</a>
            <hr />
            <a class="btn btn-primary" asp-controller="Books" asp-action="Index">Book register</a>
            <hr />
            <div class="dropdown mt-3">
            </div>
        </div>
    </div>

    @*Admin*@
    <div class="offcanvas offcanvas-start" tabindex="-1" id="adminMenu" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Admin section</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                Welcome to Lab4 Library.
                <br />
                You are in admin section with your options.
            </div>
            <hr />
            <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Index">Manage Roles</a>
            <a class="btn btn-primary" asp-controller="RoleManager" asp-action="Index">Add new role</a>
            <hr />
            <a class="btn btn-primary" asp-controller="Books" asp-action="Index">Books</a>
            <a class="btn btn-primary" asp-controller="BookTypes" asp-action="Index">Book types</a>
            <hr />
            <a class="btn btn-primary" asp-controller="Authors" asp-action="Index">Authors</a>
            <a class="btn btn-primary" asp-controller="BookAuthors" asp-action="Index">Book Authors</a>
            <hr />
            
            <a class="btn btn-primary" asp-controller="Users" asp-action="Index">User register</a>
            <a class="btn btn-primary" asp-controller="Addresses" asp-action="Index">Addresses</a>
            <hr />
            <a class="btn btn-primary" asp-controller="LoanHistories" asp-action="GetUserBook">Loan register</a>
            <a class="btn btn-primary" asp-controller="LoanHistories" asp-action="Create">Add Loan</a>
            <div class="dropdown mt-3">
                @*<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                User options
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>*@
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3 mb-5">
            @RenderBody()
        </main>
    </div>
@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Lab4ASP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



