@model Lab4ASP.Models.Address

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h1 class="card-header">Delete</h1>

                <div class="card-body">
                    <h3>Are you sure you want to delete this?</h3>
                    <div>
                        <h4>Address</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">Street</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.Street)</dd>
                            <dt class="col-sm-4">City</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.City)</dd>
                            <dt class="col-sm-4">Postal Code</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.PostalCode)</dd>
                            <dt class="col-sm-4">User Email</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.Users.Email)</dd>
                        </dl>

                        <form asp-action="Delete" class="text-center">
                            <input type="hidden" asp-for="AddressId" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a asp-action="Index" class="btn btn-dark">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
