@model IEnumerable<Lab4ASP.Models.ViewModels.UserBookViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lab4 Library</p>
</div>