@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Loan section</h1>
    <hr />
    //<a class="btn btn-primary" asp-controller="UserRoles" asp-action="Index">Manage Roles</a>
    //<a class="btn btn-primary" asp-controller="RoleManager" asp-action="Index">Add role</a>
    //<a class="btn btn-primary" asp-controller="Customers" asp-action="Index">Customers</a>
}
