@model IEnumerable<Lab4ASP.Models.ViewModels.UserBookViewModel>

        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Lab4 Library</p>
        </div>

        <div class="row">
            <div class="col">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header text-center">-- Book of the day --</div>
                    <div class="card-body">
                        <table class="table table-striped text-white">
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-white">
                                            @Html.DisplayNameFor(model => model.RndTitle)
                                            @Html.DisplayFor(model => item.RndTitle)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-white">
                                            @Html.DisplayNameFor(model => model.RndDescription)
                                            @Html.DisplayFor(model => item.RndDescription)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    


